@model UpdateQuestionDTO
@{
    ViewData["Title"] = "AddNewQuestion";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Sualı yenilə</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="input-group">
                            <p>
                                <label>Sual</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Question" name="Question" class="form-control" placeholder="sualı daxil edin ...">
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Cavab</label>
                            </p>
                            <div class="form-line">
                                <textarea  asp-for="Answer" name="Answer" rows="10" class="form-control" placeholder=cavabı daxil edin ..."></textarea>
                            </div>
                        </div>


                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Yenilə</button>
                            <a asp-action="ActiveFaqList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
