@model UpdateMainCategoryDTO
@{
    ViewData["Title"] = "UpdateMainCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Kateqoriya məlumatlarını yenilə</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">

                        <div class="input-group">
                            <p>
                                <label>Kateqoriya adı</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Name" name="Name" class="form-control" placeholder="daxil edin...">
                            </div>
                        </div>
                      


                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Yenilə</button>
                            <a asp-action="MainCategoryList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

