@model DTO.CustomerListDTO.CustomerListDTO
@{
    ViewData["Title"] = "SubscriberList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int num = 0;
}

<div class="container-fluid">


    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div style="display:flex;justify-content:space-between;align-items:center">
                        <h2>
                            Abunələr
                        </h2>
                    </div>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-right">
                                        <div style="margin-right:20px">
                                            Əməliyyatlar
                                        </div>
                                    </th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>Email</th>
                                    <th>Status</th>
                                    <th class="text-right">
                                        <div style="margin-right:20px">
                                            Əməliyyatlar
                                        </div>
                                    </th>

                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var item in Model.Subscribers)
                                {
                                    <tr>
                                        <td>@(num = num + 1)</td>
                                        <td>@item.Email</td>
                                        <td>Aktivdir</td>

                                        <td style="display:flex;justify-content:end">

                                            <div style="margin-right:10px">
                                                <a asp-action="ReadMessage" asp-route-Id="@item.Id" class="btn bg-blue-grey waves-effect">
                                                    Oxu
                                                </a>

                                            </div>
                                            <div style="margin-right:10px">
                                                <a asp-action="ReplyMessage" asp-route-email="@item.Email" class="btn bg-indigo waves-effect">
                                                    Cavab göndər
                                                </a>
                                            </div>



                                        </td>
                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->
</div>
