@model DTO.ContactUsDTO.ContactMessageListDTO
@{
    ViewData["Title"] = "ReadMessageList";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int num = 0;
}

<h2>ReadMessageList</h2>

