@model DTO.ContactUsDTO.ReadContactUsDTO
@{
    ViewData["Title"] = "ReadMessage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int num = 0;
}
<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Göndərən:@Model.FullName</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">

                        <div class="input-group">
                            <p>
                                <label>Başlıq</label>
                            </p>
                           @*  <div class="form-line">
                                <input type="text" asp-for="Title" name="Title" class="form-control" placeholder="azərbaycan dilində" readonly>
                            </div> *@
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məzmun</label>
                            </p>
                            <div class="form-line">
                                <textarea type="text" asp-for="Description" name="Description" class="form-control" readonly></textarea>
                            </div>
                        </div>
                      
                        


                        
                        <div class="text-center">
                            <a  asp-action="ReplyMessage" asp-route-Id="@Model.Id" class="btn btn-primary waves-effect"><i class="material-icons">reply email</i></a>
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>