@model DTO.ContactUsDTO.ReplyMessageDTO
@{
    ViewData["Title"] = "ReadMessage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int num = 0;
}
<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Göndərilən şəxs:@Model.FullName  </h2>
                    <h2>Göndərilən şəxs:@Model.Gmail  </h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">

                        <div class="input-group">
                            <p>
                                <label>Başlıq</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Title" name="Title" class="form-control" placeholder="Başlıq" >
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məzmun</label>
                            </p>
                            <div class="form-line">
                                <textarea type="text" asp-for="Description" name="Description" class="form-control" ></textarea>
                            </div>
                        </div>
                        <div style="color:darkred" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button  type="submit" class="btn btn-primary waves-effect">Göndər</button>
                            <a asp-action="ReadMessageList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>