@model DTO.BlogsDTO.AddBlogDTO
@{
    ViewData["Title"] = "AddChildCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8">
            <div class="card">
                <div class="header text-center">
                    <h2>Yeni Məhsul</h2>
                </div>
                <div class="body">
                    <form id="form_validation" method="post">
                        <div class="form-group form-float">
                            <p>
                                <label>Kateqoriya</label>
                            </p>
                            <div>
                                <select class="form-control show-tick" asp-for="CategoryId" name="CategoryId" id="childCategoryId">

                                    @foreach (var item in Model.CategoryList)
                                    {

                                        <option value="@item.Categories.Id">@item.CategoryName</option>

                                    }
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məhsul  adı (azərbaycan)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Title_az" name="Title_az" class="form-control" placeholder="azərbaycan dilində">
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məhsul adı (türk)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Title_tr" name="Title_tr" class="form-control" placeholder="türk dilində">
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məhsul adı (ingilis)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Title_en" name="Title_en" class="form-control" placeholder="ingilis dilində">
                            </div>
                        </div>
                        <div class="input-group">
                            <p>
                                <label>Məhsul adı (rus)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Title_ru" name="Title_ru" class="form-control" placeholder="rus dilində">
                            </div>
                        </div>
                            <div class="input-group">
                            <p>
                                <label>Açıqlama (az)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Description_az" name="Description_az" class="form-control" placeholder="azərbaycan dilində">
                            </div>
                        </div>
                            <div class="input-group">
                            <p>
                                <label>Açıqlama (tr)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Description_tr" name="Description_tr" class="form-control" placeholder="türk dilində">
                            </div>
                        </div>
                            <div class="input-group">
                            <p>
                                <label>Açıqlama  (en)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Description_en" name="Description_en" class="form-control" placeholder="ingilis dilində">
                            </div>
                        </div>
                            <div class="input-group">
                            <p>
                                <label>Açıqlama  (rus)</label>
                            </p>
                            <div class="form-line">
                                <input type="text" asp-for="Description_ru" name="Description_ru" class="form-control" placeholder="rus dilində">
                            </div>
                        </div>
                            <div class="input-group">
                            <p>
                                <label>Qiymət (azn)</label>
                            </p>
                            <div class="form-line">
                                <input type="number" asp-for="Price" name="Price" step="0.1" min="0" class="form-control" placeholder="ancaq manat qeyd edilir">
                            </div>
                        </div>                
                          <div class="input-group">
                            <p>
                                <label>Rəsimlər</label>
                            </p>
                            <div class="form-line">
                                <input type="file" asp-for="Photos"  multiple  class="form-control" placeholder="ancaq manat qeyd edilir">
                            </div>
                        </div>

                        <div class="font-bold col-pink" asp-validation-summary="ModelOnly"></div>
                        <div class="text-center">
                            <button class="btn btn-primary waves-effect" type="submit" id="submitButton">Yenilə</button>
                            <a asp-action="MainCategoryList" class="btn btn-success">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

