@model IEnumerable<SearchProductDTO>

<ul class="custom-scroll">
    
        @foreach (var product in Model)
        {
            <li>
                <div class="product-cart media">
                    <img src="@product.ImageUrl" class="img-fluid blur-up lazyload" alt="">
                    <div class="media-body">
                        <a href="javascript:void(0)">
                            <h6 class="mb-1">@product.Name</h6>
                        </a>
                        <p class="mb-0 mt-1">@product.Price.ToString("0.00")</p>
                    </div>
                </div>
            </li>
        }
    
  
</ul>

