<!-- Add To Cart Notification -->
<div class="added-notification">
    <img src="~/assets/images/fashion/banner/2.jpg" class="img-fluid blur-up lazyload" alt="">
    <h3>added to cart</h3>
</div>
<!-- Add To Cart Notification -->