<!-- Coockie Section Start -->
<div class="cookie-bar-section">
    <div class="content">
        <img src="~/assets/images/cookie.png" alt="">
        <p class="font-light">This website use cookies to ensure you get the best experience on our website.</p>
        <div class="cookie-buttons">
            <button class="btn default-theme" id="button">I understand</button>
        </div>
    </div>
</div>
<!-- Coockie Section End -->