@model Entity.Models.Blogs
@{
    int languageId = 1;
}

 <div class="modal-content">
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    <div class="modal-body">
        <div class="row gy-4">
            <div class="col-lg-6">
                <div class="quick-view-image ">
                    <div class="quick-view-slider ratio_medium">
                        <div>
                            <img src="~/assets/blogImages/@Model.BlogImages.Where(x=>x.IsMain).Select(x=>x.ImageUrl)"
                                 class="img-fluid bg-img blur-up lazyload" alt="product">
                        </div> 
                 </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product-right">
                 @*    <h2 class="mb-2">@Model.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Title</h2>
                    <h6 class="font-light mb-1">@Model.Categories.CategoryLanguages.FirstOrDefault(x => x.LanguageId == languageId).CategoryName</h6> *@
                    <div class="price mt-3">
                        <h3>$@((Model.SalesPrice * (100 - Model.DiscountPrice) / 100).ToString("0.00"))</h3>
                    </div>
                    <div class="product-details">
                        <h4>product details</h4>
                        <p class="font-light">
                             @Model.BlogLanguages.FirstOrDefault(b => b.LanguageId == languageId).Description; 
                        </p>
                    </div>
                    <div class="product-btns">
                        <a href="cart.html" class="btn btn-solid-default btn-sm">
                           Səbətə əlavə et
                        </a>
                        <a href="product-left-sidebar.html" class="btn btn-solid-default btn-sm">
                             Ətraflı
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
