<!-- recently purchase product -->
<div class="recently-purchase d-md-flex d-none">
    <img src="~/assets/images/fashion/instagram/3.jpg" class="img-fluid blur-up lazyload" alt="">
    <div class="media-body">
        <div>
            <h4>Some recently purchase this item</h4>
            <a href="javascript:void(0)">
                <span class="product-name">
                    Floral Dress
                </span>
            </a>
            <small class="timeAgo">50 minutes ago</small>
        </div>
    </div>
    <a href="javascript:void(0)" class="close-popup fa fa-times"></a>
</div>
<!-- recently purchase product -->