<!-- Reset Password Modal Start -->
<div class="modal fade reset-email-modal" id="resetEmail">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Comfirm Email</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body pt-3">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label font-light">Email address</label>
                        <input type="email" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="comfirmEmail" class="form-label font-light">Comfirm Email address</label>
                        <input type="email" class="form-control" id="comfirmEmail">
                    </div>
                    <div>
                        <label for="exampleInputPassword1" class="form-label font-light">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                </form>
            </div>
            <div class="modal-footer pt-0">
                <button class="btn bg-secondary rounded-1 modal-close-button" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-solid-default rounded-1" data-bs-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Reset Password Modal End -->