<!-- Size Modal Start -->
<div class="modal modal-size fade" id="sizemodal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <img src="~/assets/images/size-chart.jpg" alt="" class="img-fluid blur-up lazyload">
            </div>
        </div>
    </div>
</div>
<!-- Size Modal End -->