<!-- sticky cart bottom start -->
<div class="sticky-bottom-cart">
    <div class="container">
        <div class="cart-content">
            <div class="product-image">
                <img src="~/assets/images/fashion/instagram/1.jpg" class="img-fluid blur-up lazyload" alt="">
                <div class="content">
                    <h5>men yellow jacket</h5>
                    <h6>$32.96<del class="font-light">$459.00</del><span>55% off</span></h6>
                </div>
            </div>
            <div class="selection-section">
                <div class="form-group mb-0">
                    <select id="inputState" class="form-control form-select">
                        <option disabled selected>Choose color...</option>
                        <option>Pink</option>
                        <option>Blue</option>
                        <option>Grey</option>
                        <option>Pink</option>
                    </select>
                </div>
                <div class="form-group mb-0">
                    <select id="input-state" class="form-control form-select">
                        <option selected disabled>Choose size...</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option>Extra Large</option>
                    </select>
                </div>
            </div>
            <div class="add-btn">
                <a class="btn default-light-theme default-theme default-theme-2 outline-button wishlist-btn"
                   href="wishlist.html"><i class="fa fa-bookmark"></i> Wishlist</a>
                <a class="btn default-light-theme default-theme default-theme-2 outline-button" href="cart.html">
                    <i class="fas fa-shopping-cart"></i> Add To Cart
                </a>
            </div>
        </div>
    </div>
</div>
<!-- sticky cart bottom end -->