@model DTO.ContactUsDTO.AddContactUsDTO
@{
    ViewBag.Title = "Contact Us | Fatimah Boutique";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool send = ViewBag.Success;
}

<!-- Breadcrumb section start -->
<section class="breadcrumb-section section-b-space">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Bizimlə əlaqə</h3>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Contact us</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb section end -->
<!-- Contact Section Start -->
<section class="contact-section">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-7">
                <form method="post">
                    <div class="materialContainer">
                        <div class="material-details">
                            <div class="title title1 title-effect mb-1 title-left">
                                <h2>Bizimlə əlaqə</h2>
                                <p class="ms-0 w-100">
                                    <div asp-validation-summary="ModelOnly" sstyle="color:red"></div>
                                </p>
                            </div>
                        </div>

                        <div class="row g-4 mt-md-1 mt-2">
                            <div class="col-md-6">
                                <label for="first" class="form-label">Adınız</label>
                                <input type="text" class="form-control" asp-for="FullName" name="FullName" id="first" placeholder="Adınızı daxil edin ...">
                            </div>
                            <div class="col-md-6">
                                <label for="last" class="form-label">Telefon nömrəsi</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" name="PhoneNumber" id="phone" placeholder="Telefon nömrəsi">
                            </div>
                            <div class="col-md-12">
                                <label for="email" class="form-label">Elekteon ünvan</label>
                                <input type="email" class="form-control" asp-for="Email" name="Gmail"  id="email"
                                       placeholder="Elektron ünvanınızı daxil edin...">
                            </div>
                           @*  <div class="col-md-12">
                                <label for="email2" class="form-label">Başlıq</label>
                                <input type="text" asp-for="Title" class="form-control" name="Title" id="email2"
                                       placeholder="Nə ilə bağlı müraciət edirsiniz?...">
                            </div> *@

                            <div class="col-12">
                                <label for="comment" class="form-label">Mətn</label>
                                <textarea class="form-control" asp-for="Description" name="Description" id="comment" placeholder="Mövzu..." rows="6"></textarea>
                            </div>

                            <div class="col-auto">
                                <button class="btn btn-solid-default" type="submit">Göndər</button>
                            </div>
                        </div>
                    </div>
                </form>
             
            </div>

            <div class="col-lg-5">
                <div class="contact-details">
                    <div>
                        <h2>Let's get in touch</h2>
                        <h5 class="font-light">7/24 bizimlə əlaqə saxlaya bilərsiniz</h5>
                      

                        <div class="contact-box">
                            <div class="contact-icon">
                                <i data-feather="phone"></i>
                            </div>
                            <div class="contact-title">
                                <h4>Telefon nömrəsi :</h4>
                                <p>+994 099-999-99-99</p>
                                <p>+994 011-111-11-11</p>
                            </div>
                        </div>

                        <div class="contact-box">
                            <div class="contact-icon">
                                <i data-feather="mail"></i>
                            </div>
                            <div class="contact-title">
                                <h4>Elektron ünvan:</h4>
                                <p>contactUs1@fatimah-boutique.com</p>
                                <p>contactUs2@fatimah-boutique.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Section start -->

<!-- Map Section End -->



    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var inputElement = document.getElementById('phone');
            inputElement.addEventListener('input', function (e) {
                var input = e.target;
                if (input.value.length <= 23) {
                    var formatted = formatTelefon(input.value);
                    input.value = formatted;
                } else {
                    input.value = input.value.slice(0, 23);
                }
            });
        });

        function formatTelefon(numara) {
            var cleaned = ('' + numara).replace(/\D/g, '');

            var formatted = cleaned.replace(/(\d{0,3})(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/, function (regex, grup1, grup2, grup3, grup4, grup5) {
                var formattedNumara = '';
                if (grup1) {
                    formattedNumara += '(' + grup1;
                }
                if (grup2) {
                    formattedNumara += ') ' + grup2;
                }
                if (grup3) {
                    formattedNumara += '-' + grup3;
                }
                if (grup4) {
                    formattedNumara += '-' + grup4;
                }
                if (grup5) {
                    formattedNumara += '-' + grup5;
                }
                return formattedNumara;
            });
            return formatted;
        }
    </script>
}

@if (!ViewData.ModelState.IsValid)
{
    <script>
        Swal.fire({
            icon: 'warning',
            title: 'Xəbərdarlıq!',
            text: 'Zəhmət olmasa müraciət formunu tam doldurun!'
        });
    </script>

}
@if(send)
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Göndərildi!',
            text: 'Sizin müraciətiniz qeydə alındı ən qısa zamanda sizinlə əlaqə saxlanılacaq.Bizi izləmədə qalın!'
        });
    </script>
} 
else
{
    
}
