@model DTO.BasketDTO.BasketDTO

<button type="button" class="btn btn-solid-default btn-spacing">
    <i data-feather="shopping-cart" class="pe-2"></i>
    <span>@Model.TotalPrice.ToString("0.00") ₼</span>
</button>
